<mat-toolbar color="primary">
 <span class="example-fill-remaining-space">Login App</span>
<mat-toolbar  color="primary"><button mat-button (click)="navfunction('/Dashboard');" ><span>&nbsp;<mat-icon>group</mat-icon> Users</span></button><button  mat-button (click)="navfunction('/CreateUser');" ><span>&nbsp;<mat-icon>person</mat-icon> Create User</span></button></mat-toolbar> 
  
  <span>{{username}}</span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label=" icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
	
  <button mat-menu-item>
  	<!-- <i class="material-icons">person
</i> -->
    <mat-icon>person</mat-icon>
    <span><a href="/Profile" >My Profile</a></span>
  </button>
  <button (click)="logout();" mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
  
</mat-menu>
</mat-toolbar>