<h1 mat-dialog-title>Hi </h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    {{data}}
    <!-- <form [formGroup]="updateuserForm" class="my-form" (ngSubmit)="updateuser()">
      <mat-form-field class="full-width">
            <mat-label>User Name</mat-label>
            <input  matInput  placeholder="User name"  formControlName="username"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Email ID</mat-label>
            <input  matInput  type="email" placeholder="Email ID" formControlName="email"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input  matInput  placeholder="Address" formControlName="address"  required>
         </mat-form-field>
       
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput type="password"  placeholder="Password"  formControlName="password" required>
         </mat-form-field>
         <mat-card-actions>
        <button mat-raised-button  color="primary">Update</button>
      
    </mat-card-actions>
  </form> -->
  </mat-form-field>
</div>
<div mat-dialog-actions>
 <!--  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>